.delete-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.delete-box {
    width: 450px;
    background: white;
    padding: 0px 20px 20px 20px;
    border-radius: 20px;
    border: 2px solid black;
}

.delete-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

.delete-text {
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 70px;
    color: #333;
}

.delete-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.model-delete-btn {
    border: 2px solid red;
    color: red;
    background: none;
    padding: 8px 28px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 400;
}

.model-delete-btn:hover {
    background: red;
    color: #fff;
}

.delete-model-cancel-btn,
.model-delete-btn {
    align-items: center;
    width: 100px;
    padding: 10px 0 10px 0;
    margin: 10px 0 0 0;
}

.delete-model-cancel-btn {
    border: 2px solid #000;
    color: #000;
    background: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 400;
}

.delete-model-cancel-btn:hover {
    background: #000;
    color: #fff;
}