.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.modal-box {
    width: 450px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid black;
}


.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}


.input {
    padding: 12px;
    border: 2px solid #000;
    border-radius: 12px;
    width: 90%;

}



.textarea {
    width: 91%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 15px;
}


.textarea {
    height: 50px;
    resize: none;
}


.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}


.cancel-btn {
    border-radius: 10px;
    border: 2px solid #000;
    background: white;
    cursor: pointer;
}

.modal-add-btn,
.cancel-btn {
    align-items: center;
    width: 100px;
    padding: 10px 0 10px 0;
    margin: 10px 0 0 0;
}

.cancel-btn {
    border: 2px solid #000;
    color: #000;
    background: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 400;
}

.modal-add-btn {
    background: #fff;
    color: #2c73d2;
    border: 2px solid #2c73d2;
    border-radius: 10px;
    cursor: pointer;
}

.cancel-btn:hover {
    background: #000;
    color: #fff;
}

.modal-add-btn:hover {
    background: #0063d3;
    color: #fff;
}

.Expense-modal-element {
    margin-bottom: 30px;
}

.error {
    margin: 0px 0px 0px 10px;
    color: red;
}