/* Navbar container positioning */
.nav-container {
    position: absolute;
    top: 8%;
    left: 27%;
}

/* Navbar layout */
.navbar {
    display: flex;
    justify-content: center;
    margin: 0;
}

/* Underline for navbar text */
.line-under-text {
    border-bottom: 2px solid #ed7a07;
    width: 250px;
}

/* Navbar link styling */
.line-under-text .link {
    text-decoration: none;
    margin: 0;
    color: black;
}

/* Navbar link hover state */
.line-under-text .link:hover {
    text-decoration: none;
    margin: 0;
    color: #ff8000;
}